:root {
}

.NotVisible {
    flex-grow: 1;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-timing-function: ease-in-out;
}

.Visible {
    opacity: 1;
    align-content: center;
    justify-content: center;
    align-items: center;
    opacity: 100;
    align-self: center;
    -unity-text-align: middle-center;
    width: 100%;
    height: 100%;
}
